

$old-background-color: #22b2da;
$full-background-color: #B2CEDE;
//$second-background-color: #8CDFD6;
$second-background-color: #6DC0D5;
$card-background-color: #AD7A99;
$font-color: #8CDFD6;
$main-button-color: #085E1A;
$input-background-color: #22b2da;

::placeholder { /* Firefox, Chrome, Opera */
    color: $font-color;
    font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Oswald', sans-serif;
}

::-webkit-inut-placeholder {
  color: $font-color;
  font-family: 'Source Sans Pro', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $font-color;
    font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $font-color;
    font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Oswald', sans-serif;
}

#app {
    display: flex;
    /*grid-auto-rows: minmax(150px, auto);*/
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 500px;*/
    /*grid-template-columns: auto;*/
    flex-direction: column;
    height:auto; /* Contain all content */
    background-color: $full-background-color;
    background-image: linear-gradient(160deg,$full-background-color,$card-background-color);
    color: $card-background-color;
    justify-content: space-evenly;
    align-content: center;
    grid-gap: 1em;
    font-size: 20px;
    //font-family: 'Oswald', sans-serif;
    padding: 1rem;
    overflow: hidden;
    border: 2px solid ;
}

#pagetitle {
  display: block;
  margin: auto;
}

#travelInfoButton {
  margin: auto;
}

.information_stack {
  display: flex;
  flex-direction: column;
}

input {
    display:block;
    width: 100%;
    background: $input-background-color;
    border: none;
}

.input_area {
    font-family: 'Source Sans Pro', sans-serif;
    color: $font-color;
    transition: background-color .5s;
}

.input_area:hover {
  background-color: $main-button-color;
}

.input_card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 15px;
  margin:5px;
}

.inline_button {
  width: auto;
  height: auto;
  border-radius: 50px;
  background-color: white;
  border: 2px solid black;
  transition: background-color 0.5s;
  font-weight: bolder;
  font-size: large;
  padding: 5px;
  margin: 3px;
}

.inline_button:hover {
  background-color: green;
}

.main_buttons {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: linear-gradient(180deg, $main-button-color,  #119c2e);
  color: $font-color;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 4px 5px #444;
  transition: color .5s, background-image .5s;
  padding: 0px 15px;
}

.main_buttons:hover {
  background-image: $font-color;
  color: $main-button-color;
}

.travel_card {
  color: $font-color;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  row-gap:10px;
  column-gap: 10px;
  background-image: linear-gradient(180deg, $card-background-color, $main-button-color);
  padding: 15px;
  margin: 5px;
}

.warning {
  visibility: hidden;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    color: black
}

img {
  width: 100%;
  height: auto;
  margin: auto;
}

// Don't display anything under a certain size
@media screen and (max-width:299px) {

  #app {
    display: none;
  }
}

@media screen and (min-width: 300px) {

  #app {
    font-size: 14px;
    max-width: 300px
  }

  #pagetitle {
    font-size: 20px;
  }

  .holder {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(217deg, $second-background-color, transparent);
    align-items: flex-start;
    overflow: hidden;
    height: auto;
    padding: 1rem;
    margin: 5px;
    border: 3px solid $card-background-color;
    align-items: center;
  }

  .inline_button {
    font-size: xx-small;
  }

  .main_buttons {
    width: 155px;
    height: 55px;
    font-size: 18px;
  }

  .travel_card {
    flex-direction: column;
  }

  input {
    height: 30px;
    font-size: 16px;
  }

  label {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {

  #app {
    max-width: 500px;
    font-size: 17px;
  }

  #pagetitle {
    font-size: 40px;
  }

  .inline_button {
    font-size: small;
  }

  .main_buttons {
    width: 200px;
    height: 75px;
    font-size: 27px;
  }

  label {
    font-size: 27px;
  }

  input {
    height: 60px;
    font-size: 27px
  }

}

@media screen and (min-width: 700px) {
  #app {
    max-width: 700px;
    font-size: 20px;
  }

  #pagetitle {
    font-size: 60px;
  }

  .main_buttons {
    width: 400px;
    height: 100px;
    font-size: 40px;
  }

  .travel_card {
    flex-direction: row;
    flex-wrap: nowrap;

  }

  img {
    max-width: 360px;
    height: 100%;
  }

}
